body {
    color: white;
    background-color: black;
    font-family: monospace;
    font-size: 20px;
}

.container {
    height: 100%;
    border: 3px solid maroon;
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: 62px 36px 36px auto;
    grid-gap: 3px;
}

/* bank sets, banks */
.lb-bank-sets-label, .lb-banks-label {
    align-self: center;
}

.lb-bank-sets, .lb-banks, .lb-header {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    border: 1px solid maroon;
    background-color: black;
}

.lb-bank-set-button, .lb-bank-button {
    color: lime;
    background-color: black;
    width: 55px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    float: left;
    margin: 10px;
}

/* sidebar */
.lb-sidebar {
    grid-column: span 5;
    align-content: start;
    border: 1px solid maroon;
}

#lbMaxFps, #lbVolumeScale, #lbFadeDelay, #lbTrackball, #lbBandpassRange,
#lbAutoSequencesRange, #lbAutoColormapsRange, #lbAutoImagesRange, #lbAutoWebcamsRange {
    text-align: center;
}

#lbAutoSequencesLabel, #lbAutoColormapsLabel, #lbAutoImagesLabel, #lbAutoWebcamsLabel {
    border-top: 5px solid white;
    margin-top: 10px;
}

#lbAutoSequencesMode, #lbAutoColormapsMode, #lbAutoImagesMode, #lbAutoWebcamsMode {
    margin-top: 10px;
}

.lb-threed-parameters {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#lbRandomizeRotations {
    margin-left: 10px;
    color: white;
}

#lbRotationAmount, #lbRotationX, #lbRotationY, #lbRotationZ {
    text-align: center;
}

/* content */
.lb-content {
    border: 1px solid maroon;
    grid-column: span 13;
    background-color: black;
}

.lb-content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

#lbUptime {
    text-align: center;
}

/* auto modes */
.lb-auto-modes {
    border: 1px solid maroon;
    grid-column: span 2;
}

#lbRandomSchemes, #lbRandomSequences, #lbAutoColormaps, #lbAutoImages {
    width: 150px;
    height: 30px;
}

#lbRandomStop {
    width: 50px;
    height: 30px;
}

/* current sequence */
.lb-current {
    border: 1px solid maroon;
}

#lbSequenceLabel {
    text-align: center;
}

#lbSequenceName {
    text-align: center;
    background-color: black;
}

#lbSequence {
    list-style-image: url('/ui/static/icons8-drag-reorder-24.png');
}

.lb-layer-mode, .lb-string-list {
    color: white;
    background-color: black;
}

.lb-lens {
    color: yellow;
    background-color: black;
    font-weight: bold;
    margin: 4px;
}

/* current colormap */
.lb-colormap {
    border: 1px solid maroon;
}

#lbColormapsShortcuts, #lbImagesShortcuts {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#lbColormapRow {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

#lbColormapW3c {
    width: 256px;
    cursor: none;
    display: grid;
    grid-template-columns: repeat(256, 1fr);
}

/* current image */
.lb-image {
    border: 1px solid maroon;
}

#lbThumbnail {
    cursor: none;
}

/* preview */
#lbFrame {
    cursor: none;
}

/* current sequence plugins */
.lb-sequence {
    border: 1px solid maroon;
}

.lb-bandpass-container {
    display: grid;
    grid-template-columns: 5px auto;
    margin: 0px 50px;
}

/* selected plugin */
.lb-selected {
    grid-column: span 2;
}

.lb-parameters {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.lb-parameter-name {
    color: blue;
    font-weight: bold;
    text-align: right;
    margin-right: 10px;
}

.lb-parameter-value {
    color: orange;
    font-weight: bold;
    text-align: center;
}

/* plugins */
.lb-plugins {
    border: 1px solid maroon;
    background-color: black;
    grid-column: span 7;
    display: grid;
    grid-template-columns: 1fr;
    align-self: start;
}

#lbPluginsLabel {
    text-align: center;
}

.lb-plugins-tab {
    text-align: center;
    float: left;
    margin: 2px;
    border: none;
    border-bottom: 1px solid orange;
}

#lbPlugins {
    text-align: center;
}

.lb-plugin {
    color: white;
    background-color: black;
    width: 250px;
    margin: 4px;
}

/* header */
.lb-header-container {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 3fr 5fr 5fr 5fr 5fr 1fr 500px 1fr 1fr 1fr;
    align-content: center;
}

#lbPluginsButton, #lbSettingsButton, #lbShutdownButton {
    background-color: black;
    margin-right: 5px;
}

#lbTooltips, #lbControls {
    margin-left: 10px;
}

#lbHost, #lbPort {
    margin-left: 10px;
    width: 110px;
}

#lbWebsocketStatus, #lbSettings {
    margin: 5px;
}

#lbShutdownButton {
    padding-left: 10px;
    padding-right: 10px;
}

#lbWebsocketStatus {
    margin-top: 6px;
    margin-left: 10px;
    margin-right: 10px;
}

#lbHost, #lbPort {
    margin-top: 16px;
}

#lbHost, #lbPort, .lb-tooltips, .lb-controls {
    align-self: center;
}

.lb-tooltips, .lb-controls {
    width: 100px;
}

.lb-support, .lb-wiki {
    align-self: center;
    margin-top: 2px;
    margin-left: 4px;
    margin-right: 6px;
}

.lb-support {
    width: 215px;
}

.lb-paypal {
    align-self: center;
    margin-top: 4px;
    margin-left: 40px;
}

.lb-copyright {
    text-align: right;
    align-self: center;
}

.lb-sidebar {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: start;
}

.lb-label {
    color: blue;
    font-weight: bold;
    text-align: right;
    vertical-align: top;
    padding-right: 10px;
}

.lb-sublabel {
    color: salmon;
}

.lb-value {
    color: orange;
    font-weight: bold;
}

.lb-button {
    background-color: black;
    margin: 5px;
}

.lb-picker {
    color: lime;
    font-weight: bold;
}

.lb-navigation {
    color: yellow;
    background-color: black;
    font-weight: bold;
}

a:link.lb-patreon, a:visited.lb-patreon {
    color: black;
    background-color: orange;
}

/* Connecting... */
.lb-blink {
    width: 220px;
    height: 50px;
    /* background-color: #342ab8; */
    padding: 10px;
    text-align: center;
    line-height: 50px;
}

#lbConnecting {
    font-size: 30px;
    /* font-family: cursive; */
    color: #fff;
    animation: lb-blink 2s linear infinite;
}

@keyframes lb-blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}
