body {
    font-size: 30px;
    font-family: monospace;
}

.lbt-config {
    font-size: 30px;
    float: left;
    margin: 5px;
}

.lbt-host {
    width: 220px;
}
      
.lbt-port {
    width: 150px;
    height: 40px;
}

#lbtStatus {
    clear: left;
}

#lbtNbTests, #lbtCommand {
    text-align: center;
}

#lbtNbTests {
    border-bottom: 2px solid grey;
}

#lbtTests {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid grey;
}
